*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}
body{
    margin: 0%;
    padding: 0%;
    width: 100%;
}
header{
    margin: 0%;
    padding: 0%;
    height: 50px;
    width: 100%;
    background-color: rgb(1, 1, 102);
}
nav{
    position: absolute;
    display: flex;
    margin: 0 0 0 200px;
}
nav a{
    padding: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
}
nav a:hover{
    color: red;
}
.search_bar{
    position: absolute;
    margin: 15px 0 0 740px;
    z-index: 3;
}
.search_bar input{
    position: absolute;
    border: none;
    height: 40px;
    width: 400px;
    border-radius: 16px;
    border: 0.5px solid black;
    font-size: small;
    padding: 10px;
}
.search_bar span{
    position: absolute;
    margin: 0 0 0 350px;
    color: #9b9999;
}
.material-symbols-outlined {
    position: relative;
    display: flex;
    padding: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 24
}
.material-symbols-outlined:hover{
    cursor: pointer;
}
.home__nav{
    text-transform: capitalize;
    font-family:  "Poppins", sans-serif;
    font-size: large;
    margin: 40px 0 0 30px;
    color: rgb(8, 8, 44);
}
.home__nav a{
    padding: 0 0 0 30px;
    text-decoration: none;
    
}
.login{
    position: absolute;
    margin: 0 0 0 900px;
    display: inline-flex;
}
.login a{
    color: #fff;
    width: 200px;
}
.login a:hover{
    color: purple;
}

/* shopping css*/
.Whatsapp{
    position: absolute;
    margin: -35px 0 0 1150px;
    width: 150px;
}
.Whatsapp a{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
.Whatsapp a:hover{
    color: green;
    text-decoration: underline;
}
.shop__nav{
    text-transform: capitalize;
    font-family:  "Poppins", sans-serif;
    font-size: 15px;
    margin: 40px 0 0 5px;
    color: rgb(8, 8, 44);
    padding: 0 0 0 10px;
}
.shop__nav a{
    text-decoration: none;
}
.dropdown__btns{
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: #fff;
    margin: 0 0 0 0;
}
.s1{
    margin: 20px 0 0 50px;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-flex;
}
.dropdown__content{
    display: none;
    margin: 45px 0 0 50px;
    position: absolute;
    min-width: 300px;
    background-color: #ffffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown__content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
}
.dropdown__content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown__content {
    display: block;
}
.s2{
    margin: 20px 0 0 50px;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    cursor: pointer;
}
.drop-down{
    position: relative;
    display: inline-flex;
}
.category__content{
    display: none;
    margin: 45px 0 0 50px;
    position: absolute;
    min-width: 190px;
    background-color: #ffffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}
.category__content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
}
.category__content a:hover {
    background-color: #ddd;
}
.drop-down:hover .category__content {
    display: block;
}
.s3{
    margin: 20px 0 0 50px;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    cursor: pointer;
}
.s4{
    margin: 20px 0 0 50px;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    cursor: pointer;
}

.container{
    margin: 70px 0 0 0;
    display: flex;
    position: absolute;
    height: 540px;
    width: 100%;
    background-image: url(myimages/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container h1{
    text-transform: capitalize;
    font-family: "Russo One", sans-serif;
    font-size: 40px;
    margin: 140px 0 0 20px;
    width: 780px;
    text-align: center;
    color: black;
    z-index: 3;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}
.container p{
    margin: 250px 0 0 50px;
    position: absolute;
    color: black;
    font-size: 20px;
}
.buttons{
    position: absolute;
    margin: 300px 0 0 160px;
}
.about{
    height: 60px;
    width: 200px;
    border: none;
    border-radius: 16px;
    text-transform: uppercase;
    background-color: darkblue;
    color: #fff;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about:hover{
    background-color: cornflowerblue;
    transition-duration: 3s;
}
.book{
    height: 60px;
    width: 250px;
    border: 2px solid darkblue;
    border-radius: 16px;
    text-transform: uppercase;
    background-color: #ddd;
    color: darkblue;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.book:hover{
    background-color: darkblue;
    color: #fff;
    transition-duration: 3s;
}
.offers-container{
    position: absolute;
    margin-top: 630px;
    height: 1200px;
    width: 100%;
}
.offers-container h2{
    text-transform: capitalize;
    color: cornflowerblue;
    margin: 0px 0 0 600px;
    font-size: 30px;
    text-decoration: underline;
}
.offers-boxes{
    position: absolute;
    display: inline-flex;
}
.box1{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 40px 0 0 60px;
    background-image: url(/myimages/obangi.jpeg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.box2{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 40px 0 0 350px;
    background-image: url(/myimages/avandia.jpg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.box3{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 40px 0 0 650px;
    background-image: url(/myimages/pulsegaurd.webp);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.obangi{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 360px 0 0 40px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.obangi:hover{
    color: purple;
    text-decoration: underline;
}
.Avandia{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 360px 0 0 350px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.Avandia:hover{
    color: purple;
    text-decoration: underline;
}
.pulse{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 360px 0 0 650px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.pulse:hover{
    color: purple;
    text-decoration: underline;
}
.offer__boxes{
    position: absolute;
    display: inline-flex;
}
.offer__boxes h2{
    position: absolute;
    margin-top: 530px;
}
.b1{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 600px 0 0 60px;
    background-image: url(/myimages/tranquillonin.jpg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.b2{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 600px 0 0 350px;
    background-image: url(/myimages/pheburane.jpeg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.b3{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 600px 0 0 650px;
    background-image: url(/myimages/xtandi_945224.jpg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.addbtn1{
    position: absolute;
    margin: 420px 0 0 40px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.viewbtn1{
    position: absolute;
    margin: 420px 0 0 150px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.addbtn2{
    position: absolute;
    margin: 420px 0 0 340px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.viewbtn2{
    position: absolute;
    margin: 420px 0 0 450px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.addbtn3{
    position: absolute;
    margin: 420px 0 0 650px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.viewbtn3{
    position: absolute;
    margin: 420px 0 0 760px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.cartbtn1{
    position: absolute;
    margin: 980px 0 0 40px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.productbtn1{
    position: absolute;
    margin: 980px 0 0 150px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.cartbtn2{
    position: absolute;
    margin: 980px 0 0 340px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.productbtn2{
    position: absolute;
    margin: 980px 0 0 450px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.cartbtn3{
    position: absolute;
    margin: 980px 0 0 650px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.productbtn3{
    position: absolute;
    margin: 980px 0 0 760px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.tranquillonin{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 920px 0 0 40px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.tranquillonin:hover{
    color: purple;
    text-decoration: underline;
}
.pheburane{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 920px 0 0 340px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.pheburane:hover{
    color: purple;
    text-decoration: underline;
}
.XTANDI{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 920px 0 0 650px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.XTANDI:hover{
    color: purple;
    text-decoration: underline;
}
.service{
    position: absolute;
    margin: 1900px 0 0 0;
    height: 500px;
    width: 100%;
}
.diff{
    position: absolute;
    margin: 10px 0 0 30px;
}
.diff h1{
    width: 600px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.diff p{
    width: 500px;
    font-family: "Poppins", sans-serif;
}
.aboutbtn{
    margin: 40px 0 0 30px;
    height: 70px;
    width: 180px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 32px;
    background-color: rgb(1, 1, 102);
    color: #ddd;
}
.small__box{
    position: relative;
    margin: 20px 0 0 750px;
    background-color: #e7e4e4;
    height: 500px;
    width: 500px;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
.small__box h2{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.small__box p{
    width: 400px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
}
.service__content{
    position: absolute;
    margin: 2500px 0 0 0;
    height: 700px;
    width: 100%;
}
.service__content h4{
    color: cornflowerblue;
    position: absolute;
    margin: 20px 0 0 550px;
    font-size: 30px;
    font-family: "Jost", sans-serif;
    text-transform: capitalize;
    text-decoration: underline;
}
.service__content h2{
    color: blue;
    margin: 60px 0 0 460px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.service__boxes{
    position: absolute;
    display: inline-flex;
}
.service__box1{
    background-color: #fff;
    height: 500px;
    width: 400px;
    margin: 50px 0 0 40px;
    border-radius: 32px;
}
.service__box1 img{
    height: 250px;
    width: 400px;
    border-radius: 32px;
}
.service__box1 h3{
    font-size: 30px;
    margin: 15px 0 0 20px;
    text-transform: capitalize;
    font-family: "Rajdhani", sans-serif;
  font-weight: bold;
}
.service__box1 p{
    font-family: "Poppins", sans-serif;
    width: 300px;
    margin: 0 0 0 20px;
}
.service__box1 a{
    text-decoration: none;
    position: absolute;
    margin: 50px 0 0 30px;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
}
.service__box1 a:hover{
    color: purple;
}
.service__box2{
    background-color: #fff;
    height: 500px;
    width: 400px;
    margin: 50px 0 0 40px;
    border-radius: 32px;
}
.service__box2 img{
    height: 250px;
    width: 400px;
    border-radius: 32px;
}
.service__box2 h3{
    font-size: 30px;
    margin: 15px 0 0 20px;
    text-transform: capitalize;
    font-family: "Rajdhani", sans-serif;
  font-weight: bold;
}
.service__box2 p{
    font-family: "Poppins", sans-serif;
    width: 370px;
    margin: 0 0 0 20px;
}
.service__box2 a{
    text-decoration: none;
    position: absolute;
    margin: 30px 0 0 30px;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
}
.service__box2 a:hover{
    color: purple;
}
.service__box3{
    background-color: #fff;
    height: 500px;
    width: 400px;
    margin: 50px 0 0 40px;
    border-radius: 32px;
}
.service__box3 img{
    height: 250px;
    width: 400px;
    border-radius: 32px;
}
.service__box3 h3{
    font-size: 30px;
    margin: 15px 0 0 20px;
    text-transform: capitalize;
    font-family: "Rajdhani", sans-serif;
  font-weight: bold;
}
.service__box3 p{
    font-family: "Poppins", sans-serif;
    width: 370px;
    margin: 0 0 0 20px;
}
.service__box3 a{
    text-decoration: none;
    position: absolute;
    margin: 30px 0 0 30px;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
}
.service__box3 a:hover{
    color: purple;
}
.testimonials{
    position: absolute;
    margin: 3170px 0 0 0;
    height: 500px;
    width: 100%;
    background-color: #ddd;
}
.testimonials img{
    position: absolute;
    height: 500px;
    width: auto;
    border-right: 12px solid rgb(1, 1, 102);
}
.testimonials h2{
    position: absolute;
    margin: 150px 0 0 600px;
    text-transform: capitalize;
    color: rgb(1, 1, 102);
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.testimonials p{
    position: absolute;
    margin: 210px 0 0 650px;
    width: 580px;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.blog{
    position: absolute;
    margin: 3700px 0 0 0;
    height: 800px;
    width: 100%;
}
.blog h2{
    text-transform: capitalize;
    color: rgb(8, 8, 44);
    margin: 20px 0 0 490px;
    font-size: 40px;
}
.blog__boxesup{
    position: absolute;
    display: inline-flex;
}
.blog__box1{
    height: 250px;
    width: 350px;
    margin: 50px 0 0 30px;
}
.blog__box1 a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.blog__box1 a:hover{
    color: red;
}
.blog__box2{
    height: 250px;
    width: 350px;
    margin: 50px 0 0 90px;
}
.blog__box2 a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.blog__box2 a:hover{
    color: red;
}
.blog__box3{
    height: 250px;
    width: 350px;
    margin: 50px 0 0 90px;
}
.blog__box3 a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.blog__box3 a:hover{
    color: red;
}
.blog__boxesdwn{
    position: absolute;
    display: inline-flex;
}
.blog__box4{
    height: 250px;
    width: 350px;
    margin: 420px 0 0 30px;
}
.blog__box4 a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.blog__box4 a:hover{
    color: red;
}

.blog__box5{
    height: 250px;
    width: 350px;
    margin: 420px 0 0 90px;
}
.blog__box5 a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.blog__box5 a:hover{
    color: red;
}
.blog__box6{
    height: 250px;
    width: 350px;
    margin: 420px 0 0 90px;
}
.blog__box6 a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.blog__box6 a:hover{
    color: red;
}
footer{
    margin: 4600px 0 0 0;
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: rgb(1, 1, 102);
}
.logo{
    position: absolute;
}
.logo h2{
    text-transform: uppercase;
    color: #fff;
    margin: 30px 0 0 20px;
    font-size: 30px;
}
.socials{
    position: absolute;
    margin: 70px 0 0 900px;
}
.fa-brands fa-square-instagram{
    font-size: 32px;
    color: red;
    position: absolute;
    background-color: #9b9999;
}
.socials a{
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
}
.lines{
    margin: 100px 0 0 70px;
    height: 3px;
    width: 1200px;
    background-color: #9b9999;
}

/* pain css */
.slides-container{
    position: absolute;
    height: 300px;
    width: 1200px;
    margin: 100px 0 0 80px;
    background-color: #9b9999;
}
.side-bar{
    position: absolute;
    height: 400px;
    width: 300px;
    margin: 450px 0 0 20px;
    background-color: #9b9999;
}
.painpills-container{
    position: absolute;
    height: 500px;
    width: 990px;
    margin: 450px 0 0 340px;
}
.painpills-container span{
    position: absolute;
}
.ace-para{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 10px 0 0 20px;
    background-image: url(/pills/aceclofenac-and-paracetamol-tablets_1661338500.jpg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.ace-chlo{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 10px 0 0 260px;
    background-image: url(/pills/Aceclofenac-Chlorzoxazone-Paracetamol-Tablet-by-mediboon-pharma-.png);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.para{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 10px 0 0 500px;
    background-image: url(/pills/Parcetamol\ 500mg.jpg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.dolan{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 10px 0 0 750px;
    background-image: url(/pills/ibuprofen.jpg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.tramadol{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 510px 0 0 20px;
    background-image: url(/pills/tramadol-capsule.webp);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.tramadol-injection{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 510px 0 0 260px;
    background-image: url(/pills/tramadol.jpg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.piro{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 510px 0 0 500px;
    background-image: url(/pills/Piroxicam-Capsules-20mg-Oral-Medicine.avif);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.para-caffe{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 510px 0 0 750px;
    background-image: url(/pills/para\ and\ caffeine.jfif);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.diclo{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 1000px 0 0 20px;
    background-image: url(/pills/diclofenac.png);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
/*pills links*/
.ace__para{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 320px 0 0 20px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.ace__para:hover{
    color: purple;
    text-decoration: underline;
}
.ace__chlo{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 320px 0 0 250px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.ace__chlo:hover{
    color: purple;
    text-decoration: underline;
}
.Para{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 320px 0 0 510px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.Para:hover{
    color: purple;
    text-decoration: underline;
}
.Dolan{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 320px 0 0 760px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.Dolan:hover{
    color: purple;
    text-decoration: underline;
}
.Tramadol{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 820px 0 0 10px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.Tramadol:hover{
    color: purple;
    text-decoration: underline;
}
.tramadol__injection{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 820px 0 0 260px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.tramadol__injection:hover{
    color: purple;
    text-decoration: underline;
}
.Piro{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 820px 0 0 500px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.Piro:hover{
    color: purple;
    text-decoration: underline;
}
.para__caffe{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 820px 0 0 750px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.para__caffe:hover{
    color: purple;
    text-decoration: underline;
}
.Diclo{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 1310px 0 0 10px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.Diclo:hover{
    color: purple;
    text-decoration: underline;
}
/*pills buttons*/
.acebtn1{
    position: absolute;
    margin: 400px 0 0 10px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.acebtn2{
    position: absolute;
    margin: 400px 0 0 120px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.chlobtn1{
    position: absolute;
    margin: 400px 0 0 250px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.chlobtn2{
    position: absolute;
    margin: 400px 0 0 360px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.parabtn1{
    position: absolute;
    margin: 400px 0 0 500px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.parabtn2{
    position: absolute;
    margin: 400px 0 0 610px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.dolanbtn1{
    position: absolute;
    margin: 400px 0 0 750px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.dolanbtn2{
    position: absolute;
    margin: 400px 0 0 860px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.tramadolbtn1{
    position: absolute;
    margin: 900px 0 0 10px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.tramadolbtn2{
    position: absolute;
    margin: 900px 0 0 120px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.injectionbtn1{
    position: absolute;
    margin: 900px 0 0 250px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.injectionbtn2{
    position: absolute;
    margin: 900px 0 0 360px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.pirobtn1{
    position: absolute;
    margin: 900px 0 0 500px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.pirobtn2{
    position: absolute;
    margin: 900px 0 0 610px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.caffebtn1{
    position: absolute;
    margin: 900px 0 0 750px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.caffebtn2{
    position: absolute;
    margin: 900px 0 0 860px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.diclobtn1{
    position: absolute;
    margin: 1380px 0 0 10px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.diclobtn2{
    position: absolute;
    margin: 1380px 0 0 120px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.docs{
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: #9b9999;
    margin-top: 2000px;
}
/*infection css*/
.acy{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 10px 0 0 20px;
    background-image: url(/pills/Acyclovir-Tablets-400mg.jpg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.amoxicillin{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 10px 0 0 260px;
    background-image: url(/pills/Amoxicillin-Powder-Antibiotic-for-Suspension-125mg-5ml-60ml-with-GMP.avif);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.cefixime{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 10px 0 0 500px;
    background-image: url(/pills/Cef-400.png);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.ciprofloxacin{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 10px 0 0 750px;
    background-image: url(/pills/ciprofloxacin.jfif);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.metronidazole{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 510px 0 0 20px;
    background-image: url(/pills/Metronidazole-infus-500mg-3D.png);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.metronidazole1{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 510px 0 0 260px;
    background-image: url(/pills/metronidazole-tablets-200mg.jpeg);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.amoxicillin1{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 510px 0 0 500px;
    background-image: url(/pills/Amoxicillin-Oral-Suspension-125mg-250mg-5ml-100ml-Bottle-OEM-ODM-Services.avif);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.neomycin{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 510px 0 0 750px;
    background-image: url(/pills/Neo_Poly_Bac_3.webp);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
.levofloxacin{
    position: absolute;
    height: 300px;
    width: 200px;
    margin: 1000px 0 0 20px;
    background-image: url(/pills/diclofenac.png);
    background-position: center;
    background-size: cover;
    border: 3px solid darkblue;
    border-radius: 8px;
}
/* infection buttons*/
.acybtn1{
    position: absolute;
    margin: 400px 0 0 10px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.acybtn2{
    position: absolute;
    margin: 400px 0 0 120px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.amoxbtn1{
    position: absolute;
    margin: 400px 0 0 250px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.amoxbtn2{
    position: absolute;
    margin: 400px 0 0 360px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.cefbtn1{
    position: absolute;
    margin: 400px 0 0 500px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.cefbtn2{
    position: absolute;
    margin: 400px 0 0 610px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.ciprobtn1{
    position: absolute;
    margin: 400px 0 0 750px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.ciprobtn2{
    position: absolute;
    margin: 400px 0 0 860px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.metrobtn1{
    position: absolute;
    margin: 900px 0 0 10px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.metrobtn2{
    position: absolute;
    margin: 900px 0 0 120px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.metro1btn1{
    position: absolute;
    margin: 900px 0 0 250px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.metro1btn2{
    position: absolute;
    margin: 900px 0 0 360px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.amo1btn1{
    position: absolute;
    margin: 900px 0 0 500px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.amo1btn2{
    position: absolute;
    margin: 900px 0 0 610px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.neobtn1{
    position: absolute;
    margin: 900px 0 0 750px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.neobtn2{
    position: absolute;
    margin: 900px 0 0 860px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
.levobtn1{
    position: absolute;
    margin: 1380px 0 0 10px;
    border: none;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: darkblue;
    color: #fff;
}
.levobtn2{
    position: absolute;
    margin: 1380px 0 0 120px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    background-color: #fff;
    border: 2px solid darkblue;
}
/*infection links*/
.acyclovir{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 320px 0 0 20px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.acyclovir:hover{
    color: purple;
    text-decoration: underline;
}
.amoxi-cillin{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 320px 0 0 250px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.amoxi-cillin:hover{
    color: purple;
    text-decoration: underline;
}
.cefi-xime{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 320px 0 0 510px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.cefi-xime:hover{
    color: purple;
    text-decoration: underline;
}
.floxacin{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 320px 0 0 760px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.floxacin:hover{
    color: purple;
    text-decoration: underline;
}
.metro{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 820px 0 0 10px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.metro:hover{
    color: purple;
    text-decoration: underline;
}
.metro1{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 820px 0 0 260px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.metro1:hover{
    color: purple;
    text-decoration: underline;
}
.amoxi-cillin1{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 820px 0 0 500px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.amoxi-cillin1:hover{
    color: purple;
    text-decoration: underline;
}
.neo{
    position: absolute;
    width: 200px;
    text-decoration: none;
    margin: 820px 0 0 750px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.neo:hover{
    color: purple;
    text-decoration: underline;
}
.levo{
    position: absolute;
    width: 300px;
    text-decoration: none;
    margin: 1310px 0 0 10px;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 500;  
}
.levo:hover{
    color: purple;
    text-decoration: underline;
}